<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company profile</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="background-color: #ecf4f9;">
    <div class="container-fluid d-none d-sm-block">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="mx-3" src="/img/favicon.png" alt="">
            <span class="fs-4">Bluishred Imaginations</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link head-element-normal">Features</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li> -->
            <li class="nav-item"><a href="#" class="nav-link head-element-normal">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link head-element-normal">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link head-element" aria-current="page">CONTACT US</a></li>
          </ul>
        </header>
      </div>


        <div class="container-fluid d-block d-sm-none my-3">
          <div class="row d-flex align-items-center">
            <div class="col-7">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="mx-3" src="/img/favicon.png" alt="">
                <span class="fs-4">Bluishred Imaginations</span>
              </a>
            </div>
            <div class="col-5">
              <nav class="navbar navbar-expand-sm" aria-label="Third navbar example">
                <div class="container-fluid">
                  <!-- <a class="navbar-brand" href="#">Bluishred Imaginations</a> -->
                  <button style="margin-left: 4rem;" class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
    
                  <div style="border-left: 0.08rem solid white;margin-top: 1px; padding-left: 0.6rem;" class="navbar-collapse collapse align-items-center" id="navbarsExample03">
                    <ul style="margin-right: 1px;" class="navbar-nav me-auto mb-2 mb-sm-0 d-flex flex-column align-items-start">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item" style="float: right;">
                        <a href="#" class="nav-link" aria-current="page">About</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </nav>
            </div>
            </div>
          </div>
