<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company profile</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
    </style>
</head>
<body style="background-color: #ecf4f9;">
    <div class="container-fluid">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="mx-3" src="/img/favicon.png" alt="">
            <span class="fs-4">Bluishred Imaginations</span>
          </a>
    
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link head-element-normal">Features</a></li>
            <!-- <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li> -->
            <li class="nav-item"><a href="#" class="nav-link head-element-normal">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link head-element-normal">About</a></li>
            <li class="nav-item"><a href="#" class="nav-link head-element" aria-current="page">CONTACT US</a></li>
          </ul>
        </header>
      </div>