<%- include('./partials/header.ejs'); -%>

<section class="first-sec mb-5">
    <div class="container-fluid">
        <div class="row py-5 px-5 align-items-center">
            <div class="col-sm-6 my-5">
                <div>
                    <!-- <h1>Best Company Profile <br> Writers in Nigeria</h1> -->
                    <h1>Crafting Your Story <br> Elevating Your Brand</h1>
                </div>
                <div>
                    <p>We are driven by a passion for excellence and a commitment to providing top-notch solutions to our clients. With years of experience and a team of skilled professionals, we have established ourselves as a leading player in the industry.
                    </p>
                </div>
                <div>
                    <button class="btn btn-light contact">CONTACT US</button>
                </div>
            </div>

            <div class="col-sm-6 text-center">
                <img class="img-fluid" src="/img/hero-img.png" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-5">
        <div><p class="text-center">Unleashing Your Business Potential: Embrace the Future with Innovative Technology</p></div>
        <div class="row">
            <div class="col-sm-4 text-center secd-sec-div">
                <div class="px-2 border shadow-sm rounded-3 h-100">
                    <div class="mt-3 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M354.001-79.514q-46.821 0-82.693-28.154-35.871-28.154-49.845-72.41-14.077 22.923-36.423 35.525-22.346 12.603-49.91 12.603-44.487 0-74.602-31.038-30.116-31.039-30.116-74.5 0-42.897 28-72.307 28-29.41 71.231-30.205-18.975-19.231-29.872-45.359-10.898-26.128-10.898-53.744 0-35.34 17.846-66.567 17.846-31.227 50.589-50.612 3.8 10.9 9.99 23.526 6.19 12.627 12.625 22.268-19.326 13.641-29.766 32.829-10.439 19.187-10.439 39.966 0 61.231 47.282 77.885 47.282 16.654 94.026 25.834l9.948 17.82q-11.41 33.231-18.628 55.667-7.218 22.435-7.218 41.23 0 35.744 26.411 62.424 26.41 26.68 63.04 26.68 36.806 0 62.319-27.013 25.513-27.013 42.513-66.154 17-39.141 27.193-82.783 10.192-43.641 16.577-77.307 1.948-10.872 10.794-17.077 8.846-6.205 19.102-3.436 10.872 3.436 15.974 13.192 5.103 9.756 2.539 21.423-8.616 42.487-21.039 93.153-12.423 50.667-34.244 94.445-21.822 43.778-56.026 72.987-34.204 29.21-86.28 29.21ZM135.423-182.205q23.117 0 39.053-15.819 15.936-15.819 15.936-38.937 0-22.861-15.819-38.925-15.819-16.064-38.936-16.064-22.861 0-38.925 15.947-16.065 15.947-16.065 38.808 0 23.118 15.948 39.054 15.947 15.936 38.808 15.936ZM423.96-378.361q-8.479 8.617-20.027 7.31-11.548-1.308-20.856-9.744-75.743-68.487-121.974-123.673-46.23-55.186-46.23-119.403 0-58.461 40.461-98.794 40.461-40.334 98.666-40.334 9.769 0 18.218.885t16.27 3.116q-6.949-13-10.282-23.885-3.333-10.885-3.333-22.295 0-43.76 30.706-74.444 30.706-30.683 74.499-30.683 43.793 0 74.421 30.683 30.628 30.684 30.628 74.444 0 11-3.128 21.987-3.128 10.988-10.487 23.988 7.821-2.231 16.27-3.013 8.449-.783 18.218-.783 50.982 0 87.773 31.077 36.79 31.076 46.277 78.383-11.615-1.153-25.678-.948-14.064.205-25.807 1.82-8.18-26.641-30.103-43.359-21.923-16.718-52.462-16.718-36.974 0-58.769 19.923t-57.642 61.565h-20.178q-36.59-43.257-58.385-62.372-21.795-19.116-57.026-19.116-38.345 0-63.609 25.264-25.264 25.264-25.264 63.609 0 44.49 40.847 93.489 40.846 48.998 113.795 114.614 9.051 7.82 10.628 18.794t-6.437 18.613Zm55.923-371.944q23.117 0 39.053-15.819 15.937-15.82 15.937-38.937 0-23.117-15.82-39.053-15.819-15.936-38.936-15.936-23.117 0-39.053 15.819-15.937 15.819-15.937 38.936 0 23.117 15.82 39.054 15.819 15.936 38.936 15.936ZM604.23-78.719q-18.153 0-35.807-5-17.654-5-34.192-15.333 6.564-9.461 13.513-21.948 6.948-12.487 11.743-23.153 11.333 7.359 23.175 10.871 11.842 3.513 23.363 3.513 36.949 0 63.013-26.679 26.065-26.68 26.065-63.014 0-19.145-7.552-41.419-7.551-22.273-18.294-55.094l10.333-17.563q48-8.769 94.654-25.616 46.654-16.846 46.654-78.077 0-46.129-33.125-68.513-33.124-22.385-73.629-22.385-37.17 0-86.056 12.237-48.886 12.238-111.14 32.25-11.256 3.436-21.307-.91-10.051-4.346-12.82-15.269-2.769-10.538 3.435-19.769 6.205-9.23 17.487-13.076 62.539-20.248 113.425-33.368 50.887-13.119 94.703-13.119 62.461 0 110.871 36.939 48.41 36.94 48.41 104.573 0 27.615-10.577 52.961-10.577 25.347-29.808 45.09 42.821 1.18 71.026 30.538 28.205 29.359 28.205 71.974 0 43.333-30.115 74.564-30.116 31.23-74.602 31.23-27.154 0-49.91-12.602-22.757-12.603-36.423-35.782-14.641 44.256-50.769 72.603-36.128 28.346-83.949 28.346Zm221.64-102.819q22.334 0 38.103-15.981 15.77-15.981 15.77-38.892 0-22.334-16.27-39.103-16.269-16.77-38.603-16.77-22.333 0-38.603 16.27-16.269 16.269-16.269 38.603 0 22.334 16.769 39.103 16.77 16.77 39.103 16.77Zm-690.33-55.54ZM480-805.178Zm344.87 567.767Z"/></svg>
                    </div>
                    <div><h6>Tailored Solutions for Lasting Success</h6></div>
                    <div>
                        <p class="mt-3 mb-5">Navigating today's landscape, your business seeks personalized solutions that align with vision. Our expertise in understanding challenges drives innovative strategies for continuous growth.</p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-4 text-center secd-sec-div">
                <div class="px-2 border shadow-sm rounded-3 h-100">
                    <div class="mt-3 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M295.385-139.001q-31.769-1-60.423-16.385-28.653-15.384-54.192-45.153-38.076-44.539-59.422-107.769-21.347-63.231-21.347-130.538 0-79.154 29.77-148.692 29.769-69.538 81.268-121.038 51.5-51.5 120.846-81.461Q401.231-819.999 480-819.999t148.115 30.064q69.346 30.064 120.653 81.987 51.308 51.923 81.269 121.884 29.962 69.962 29.962 149.961 0 69.7-22.475 133.208-22.474 63.509-63.191 107.714-26.103 28.051-54.119 42.115-28.016 14.065-58.325 14.065-16.049 0-31.714-3.923-15.664-3.924-31.328-11.77l-56-28q-14.718-7.564-30.719-11.141-16-3.577-32.513-3.577-16.897 0-32.577 3.577t-30.269 11.141l-55.616 28q-16.692 8.846-32.692 12.77-16 3.923-33.076 2.923Zm2.025-50.255q10.004 0 20.489-2.539 10.486-2.538 20.563-7.538l56-28q19.923-9.923 41.2-14.923 21.277-5 43.397-5 22.121 0 43.633 4.794 21.513 4.795 41.846 15.129l57 28q10.077 5 20.06 7.538 9.982 2.539 19.964 2.539 20.925 0 40.22-10.411 19.295-10.41 38.039-31.487 33.23-38 51.576-92.282 18.347-54.282 18.347-113.684 0-139.649-95.77-236.136Q618.205-769.744 480-769.744q-138.205 0-233.974 97.385-95.77 97.385-95.77 237.226 0 60.082 18.89 114.224 18.891 54.142 52.598 91.678 18.487 20.821 36.918 30.398 18.43 9.577 38.748 9.577ZM480-480Zm.02 105.127q27.236 0 46.172-18.95 18.935-18.95 18.935-46.177 0-8.385-2.077-16.577-2.076-8.192-6.256-15.397l68.693-88.412q13.718 14.385 23.884 30.65 10.165 16.265 15.347 35.248 2.77 9.461 9.718 16.371 6.949 6.91 16.41 6.91 13.487 0 20.217-11.323 6.731-11.323 2.5-24.855-22.641-70.025-81.371-113.884-58.731-43.858-132.184-43.858-74.084 0-132.905 43.525-58.82 43.525-81.051 114.217-4.23 13.532 2.898 24.855 7.127 11.323 19.933 11.323 9.348 0 15.771-6.91 6.422-6.91 9.858-16.371 17.154-54.179 62.87-87.282Q423.097-614.873 480-614.873q22.779 0 44.557 6.065 21.777 6.064 41.547 17.423l-68.899 88.822q-3.974-1.18-8.41-1.872-4.436-.692-8.795-.692-27.227 0-46.177 18.956t-18.95 46.191q0 27.236 18.956 46.172 18.956 18.935 46.191 18.935Z"/></svg>
                    </div>
                    <div><h6>Your Vision, Our Solutions</h6></div>
                    <div>
                        <p class="mt-3 mb-5">Empowering businesses with innovative technology. Tailored solutions for success. Trusted partners in digital transformation. Your growth is our mission
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 text-center secd-sec-div">
                <div class="px-2 border shadow-sm rounded-3 h-100">
                    <div class="mt-3 mb-4">
                        <svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 -960 960 960" width="40"><path d="M354.001-79.514q-46.821 0-82.693-28.154-35.871-28.154-49.845-72.41-14.077 22.923-36.423 35.525-22.346 12.603-49.91 12.603-44.487 0-74.602-31.038-30.116-31.039-30.116-74.5 0-42.897 28-72.307 28-29.41 71.231-30.205-18.975-19.231-29.872-45.359-10.898-26.128-10.898-53.744 0-35.34 17.846-66.567 17.846-31.227 50.589-50.612 3.8 10.9 9.99 23.526 6.19 12.627 12.625 22.268-19.326 13.641-29.766 32.829-10.439 19.187-10.439 39.966 0 61.231 47.282 77.885 47.282 16.654 94.026 25.834l9.948 17.82q-11.41 33.231-18.628 55.667-7.218 22.435-7.218 41.23 0 35.744 26.411 62.424 26.41 26.68 63.04 26.68 36.806 0 62.319-27.013 25.513-27.013 42.513-66.154 17-39.141 27.193-82.783 10.192-43.641 16.577-77.307 1.948-10.872 10.794-17.077 8.846-6.205 19.102-3.436 10.872 3.436 15.974 13.192 5.103 9.756 2.539 21.423-8.616 42.487-21.039 93.153-12.423 50.667-34.244 94.445-21.822 43.778-56.026 72.987-34.204 29.21-86.28 29.21ZM135.423-182.205q23.117 0 39.053-15.819 15.936-15.819 15.936-38.937 0-22.861-15.819-38.925-15.819-16.064-38.936-16.064-22.861 0-38.925 15.947-16.065 15.947-16.065 38.808 0 23.118 15.948 39.054 15.947 15.936 38.808 15.936ZM423.96-378.361q-8.479 8.617-20.027 7.31-11.548-1.308-20.856-9.744-75.743-68.487-121.974-123.673-46.23-55.186-46.23-119.403 0-58.461 40.461-98.794 40.461-40.334 98.666-40.334 9.769 0 18.218.885t16.27 3.116q-6.949-13-10.282-23.885-3.333-10.885-3.333-22.295 0-43.76 30.706-74.444 30.706-30.683 74.499-30.683 43.793 0 74.421 30.683 30.628 30.684 30.628 74.444 0 11-3.128 21.987-3.128 10.988-10.487 23.988 7.821-2.231 16.27-3.013 8.449-.783 18.218-.783 50.982 0 87.773 31.077 36.79 31.076 46.277 78.383-11.615-1.153-25.678-.948-14.064.205-25.807 1.82-8.18-26.641-30.103-43.359-21.923-16.718-52.462-16.718-36.974 0-58.769 19.923t-57.642 61.565h-20.178q-36.59-43.257-58.385-62.372-21.795-19.116-57.026-19.116-38.345 0-63.609 25.264-25.264 25.264-25.264 63.609 0 44.49 40.847 93.489 40.846 48.998 113.795 114.614 9.051 7.82 10.628 18.794t-6.437 18.613Zm55.923-371.944q23.117 0 39.053-15.819 15.937-15.82 15.937-38.937 0-23.117-15.82-39.053-15.819-15.936-38.936-15.936-23.117 0-39.053 15.819-15.937 15.819-15.937 38.936 0 23.117 15.82 39.054 15.819 15.936 38.936 15.936ZM604.23-78.719q-18.153 0-35.807-5-17.654-5-34.192-15.333 6.564-9.461 13.513-21.948 6.948-12.487 11.743-23.153 11.333 7.359 23.175 10.871 11.842 3.513 23.363 3.513 36.949 0 63.013-26.679 26.065-26.68 26.065-63.014 0-19.145-7.552-41.419-7.551-22.273-18.294-55.094l10.333-17.563q48-8.769 94.654-25.616 46.654-16.846 46.654-78.077 0-46.129-33.125-68.513-33.124-22.385-73.629-22.385-37.17 0-86.056 12.237-48.886 12.238-111.14 32.25-11.256 3.436-21.307-.91-10.051-4.346-12.82-15.269-2.769-10.538 3.435-19.769 6.205-9.23 17.487-13.076 62.539-20.248 113.425-33.368 50.887-13.119 94.703-13.119 62.461 0 110.871 36.939 48.41 36.94 48.41 104.573 0 27.615-10.577 52.961-10.577 25.347-29.808 45.09 42.821 1.18 71.026 30.538 28.205 29.359 28.205 71.974 0 43.333-30.115 74.564-30.116 31.23-74.602 31.23-27.154 0-49.91-12.602-22.757-12.603-36.423-35.782-14.641 44.256-50.769 72.603-36.128 28.346-83.949 28.346Zm221.64-102.819q22.334 0 38.103-15.981 15.77-15.981 15.77-38.892 0-22.334-16.27-39.103-16.269-16.77-38.603-16.77-22.333 0-38.603 16.27-16.269 16.269-16.269 38.603 0 22.334 16.769 39.103 16.77 16.77 39.103 16.77Zm-690.33-55.54ZM480-805.178Zm344.87 567.767Z"/></svg>
                    </div>
                    <div><h6>Your Partner in Digital Excellence</h6></div>
                    <div>
                        <p class="mt-3 mb-5">Cutting-edge solutions for business success. Embracing innovation for growth. Customer-centric strategies. Together, we thrive in a digital world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section>
    <div class="container-fluid py-0 py-sm-5">
        <div class="row align-items-center">
            <div class="col-sm-6 px-5 text-center">
                <div>
                    <img class="img-fluid w-70" src="/img/why-us.png" alt="">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mx-5 mt-5 mt-sm-0" style="border-bottom: 1px solid grey;height: 5vh;">
                    <h4 style="float: right;">Our Skill</h4>
                </div>
                <div class="container py-3 py-sm-5">
                    <div class="row">
                        <div class="col-sm mx-2">
                            <div class="pg"><p>Business Law <span style="float: right;"><span class="skill-bar">90</span>%</span></p></div>
                            <div class="mb-3 progress pb" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 0.6rem;">
                                <div class="progress-bar bg-success ch-wdt" style="width: 0%"></div>
                            </div>
                        </div>
                        <div class="col-sm mx-2">
                            <div class="pg"><p>Business Law <span style="float: right;"><span class="skill-bar">80</span>%</span></div>
                            <div class="mb-3 progress pb" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 0.6rem;">
                                <div class="progress-bar bg-success ch-wdt" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm mx-2">
                            <div class="pg"><p>Business Law <span style="float: right;"><span class="skill-bar">92</span>%</span></p></div>
                            <div class="mb-3 progress pb" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 0.6rem;">
                                <div class="progress-bar bg-success ch-wdt" style="width: 0%"></div>
                            </div>
                        </div>
                        <div class="col-sm mx-2">
                            <div class="pg"><p>Business Law <span style="float: right;"><span class="skill-bar">100</span>%</span></p></div>
                            <div class="progress pb" role="progressbar" aria-label="Success example" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 0.6rem;">
                                <div class="progress-bar bg-success ch-wdt" style="width: 0%"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr class="d-none d-sm-block">
    </div>
</section>

<section class="py-0 py-sm-5">
    <div class="container mb-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-sm-6 col-lg-7 p-lg-5 pt-lg-3">
            <h3 style="font-size: 1.5rem;">Get Your Job Done with utmost <br> professionalism</h3>
            <div>
                <p>
                    At Bluishred Imaginations professionalism is the cornerstone of our values. We believe that delivering our services with integrity, courtesy, and expertise is crucial for building lasting relationships with our clients. Our team members undergo rigorous training to stay updated with industry trends and best practices, ensuring that they always deliver their best.
                </p>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
              <button type="button" class="btn btn-primary px-4 me-md-2 fw-bold">Book a session</button>
              <button type="button" class="btn btn-outline-secondary px-4">Default</button>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <img class="img-fluid siteprev-img d-none d-sm-block" src="/img/phone2.png" alt="" width="180">
          </div>
        </div>
      </div>

</section>

<%- include('./partials/footer.ejs'); -%>