.head-element{
    text-decoration: none;
    background-color: #070707;
    color: white;
    border-radius: 25px !important;
}
.head-element:hover{
    color: #f8f9fa;
    transform: scale(1.02);
}

.head-element-normal{
    color: #070707;
}

.head-element-normal:hover{
    color:rgb(87, 86, 86);
}
