.first-sec{
    background-image: url('/img/onfocus-content-bg.jpg');
    /* min-height: 100vh; */
    color: white;
    margin-top: -12px;
}

.secd-sec-div{
    /* min-height: 40vh; */
    user-select: none;
    cursor: default;
    margin: 16px 0 !important;
}

.secd-sec-div p{
    padding-top: 0.5rem;
}

.secd-sec-div:hover{
    transform: scale(1.01);
}

.contact{
    margin-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 25px !important;
}


@media (max-width:300px) {
    .secd-sec-div{
        min-height: 60vh !important;
    }
}

@media (max-width:360px) {
    .secd-sec-div{
        min-height: 45vh !important;
        padding:0 0.9rem !important;
    }
}

@media(min-width:576px){
    .pg{
        margin-top: 50px !important;
    }

    /* .secd-sec-div{
        min-height: 55vh;
    
    } */

    .first-sec{

        max-height: 70vh;
    }

    .siteprev-img{
        transform: rotate(5deg) translate(0,0);
        float: right;
    }
}

.pb{
    margin-top: -12px;
}

.lead{
    font-size: 1rem;
}


